= form_for [@project, @sweep], html: { role: 'form' } do |f|
  = render 'shared/error_explanation', instance: @sweep

  .form-group
    = f.label :title, 'Title', class: 'control-label'
    = f.text_field :title, class: 'form-control',
      autofocus: true, required: true
  .form-group
    = f.label :description, 'Description', class: 'control-label'
    = f.text_area :description, rows: 4, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
