= t('.protip_html')
%pre.small
  :plain
    curl --header "Accept: application/json" \
     --header "Content-Type: application/json" \
     --data '{ "title": "#{t('.title')}", "description": "#{t('.description')}", "email": "#{t('.email')}", "delay_seconds": 10 }' \
     #{trigger_project_sweeps_url(@project)}
