- provide :title, 'Sweeps'

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, @project
  %li Sweeps

.page-header
  %h1
    = yield :title
    = start_new_sweep_button(@project)

= render 'sweeps/protip_curl'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th When
      %th Status

  %tbody
    - @project.sweeps.each do |sweep|
      %tr
        %td= link_to sweep.title, [@project, sweep], title: sweep.description
        %td
          = time_tag sweep.created_at do
            = time_ago_in_words(sweep.created_at)  + ' ago'
        %td= sweep_status(sweep)
