- provide :title, 'New Sweep'

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, @project
  %li= link_to 'Sweeps', project_sweeps_path(@project)
  %li New configuration

%h1= yield :title
%p.help
  Creating a Sweep triggers new snapshots to be created for all Urls in the
  project.

= render 'sweeps/form'
