- provide :title, t('.title')

= render 'shared/breadcrumbs',
  crumbs: [[@project.name, @project],
           [Sweep.model_name.human(count: 2), project_sweeps_path(@project)],
           [t(:new_configuration)]]

.page-header
  %h1= yield :title
  %p.help= t('.intro')

= render 'sweeps/protip_curl'

= render 'sweeps/form'
