- provide :title, @sweep.title

= render 'shared/breadcrumbs',
  crumbs: [[@project.name, @project],
           ['Sweeps', project_sweeps_path(@project)],
           [@sweep.title]]

.page-header
  %h1= yield :title
  - if seconds = @sweep.delay_seconds_remaining
    .alert.alert-info
      .i.glyphicon.glyphicon-timer
      This sweep is scheduled to start in
      = pluralize(seconds, 'second')
  = sweep_progress_bar(@sweep)
  = simple_format h(@sweep.description), class: 'help'

- if snapshots = @sweep.snapshots.presence
  .panel.panel-info
    .panel-heading
      %h2.panel-title Snapshots
    .panel-body.snapshots
      = render snapshots
