- provide :title, @sweep.title

= render 'shared/breadcrumbs',
  crumbs: [[@project.name, @project],
           [Sweep.model_name.human(count: 2), project_sweeps_path(@project)],
           [@sweep.title]]

.page-header
  %h1= yield :title
  - if seconds = @sweep.delay_seconds_remaining
    .alert.alert-info
      .i.glyphicon.glyphicon-timer
      = t('.delay_notice', time: t('.second', count: seconds))
  = sweep_progress_bar(@sweep)
  = simple_format h(@sweep.description), class: 'help'

- if snapshots = @sweep.snapshots.presence
  .panel.panel-info
    .panel-heading
      %h2.panel-title= Snapshot.model_name.human(count: 2)
    .panel-body.snapshots
      = render snapshots
