- provide :title, @sweep.title

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @project.name, @project
  %li= link_to 'Sweeps', project_sweeps_path(@project)
  %li= @sweep.title

.page-header
  %h1= yield :title
  %p.help= simple_format @sweep.description

- if pending = @sweep.pending_snapshots.presence
  .panel.panel-info
    .panel-heading
      %h2.panel-title Pending
    .panel-body.snapshots
      = render pending

- if needs_review = @sweep.under_review_snapshots.presence
  .panel.panel-warning
    .panel-heading
      %h2.panel-title Needs review
    .panel-body.snapshots
      = render needs_review

- if rejected = @sweep.rejected_snapshots.presence
  .panel.panel-danger
    .panel-heading
      %h2.panel-title Rejected
    .panel-body.snapshots
      = render rejected

- if accepted = @sweep.accepted_snapshots.presence
  .panel.panel-success
    .panel-heading
      %h2.panel-title Accepted
    .panel-body.snapshots
      = render accepted
