= form_for @url, html: { class: 'form-horizontal' } do |f|
  - if @url.errors.any?
    #error_explanation
      %h2= "#{pluralize(@url.errors.count, "error")} prohibited this url from being saved:"
      %ul
        - @url.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, 'Name this configuration', class: 'control-label'
    .controls
      = f.text_field :name, class: 'input-xlarge'
  .control-group
    = f.label :address, 'Web page address (URL)', class: 'control-label'
    .controls
      = f.text_area :address, rows: 3, class: 'input-xlarge'
  .control-group
    = f.label :viewport_width, 'Viewport width (in pixels)', class: 'control-label'
    .controls
      = f.text_field :viewport_width, class: 'input-small'
  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-primary'
