- provide :title, 'Edit URL'

%ul.breadcrumb
  %li
    = link_to 'URLs', root_path
    %span.divider /
  %li= @url.address

%h3 Edit URL

= render 'form'

= link_to 'Show', @url
\|
= link_to 'Back', urls_path
