%h3 URL configurations
%p These are the URLs currently scheduled for snapshots.

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Address
      %th Screen width
      %th
      %th
      %th

  %tbody
    - @urls.each do |url|
      %tr
        %td= url.name
        %td
          %span.address= url.address
          = link_to url.address, target: '_blank' do
            %i.icon-share
        %td= pluralize(url.viewport_width, 'pixel')
        %td= link_to pluralize(url.snapshots.count, 'snapshot'), url
        %td
          = link_to edit_url_path(url) do
            %i.icon-edit
        %td
          = link_to url, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.icon-remove

= link_to new_url_path do
  %i.icon-plus
  Add new URL
