%h1 Diffuxes
%p These are the URLs currently configured to take snapshots.

%table.table
  %thead
    %tr
      %th Address
      %th Screen width
      %th
      %th
      %th

  %tbody
    - @urls.each do |url|
      %tr
        %td= url.address
        %td= pluralize(url.viewport_width, 'pixel')
        %td= link_to pluralize(url.snapshots.count, 'snapshot'), url
        %td
          = link_to edit_url_path(url) do
            %i.icon-edit
        %td
          = link_to url, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.icon-remove

= link_to new_url_path do
  %i.icon-plus
  Add new URL
