%ul.breadcrumb
  %li
    = link_to 'URLs', root_path
    %span.divider /
  %li= @url.name

%h3 Snapshots
%table.table
  %tr
    %td
      %strong Website URL:
    %td= link_to @url.address, @url.address, target: '_blank'
  %tr
    %td
      %strong Viewport width:
    %td= pluralize(@url.viewport_width, 'pixel')
  %tr
    %td
      %strong Number of snapshots:
    %td= @url.snapshots.count
  - if @url.snapshots.count > 0
    %tr
      %td
        %strong Latest snapshot:
      %td
        = time_tag @url.snapshots.first.created_at do
          = time_ago_in_words(@url.snapshots.first.created_at) + ' ago'

= form_for Snapshot.new, class: 'form' do |f|
  = hidden_field_tag :url, @url.id
  Snapshots are taken every hour. If you are impatient, you can
  %button.btn.btn-info.spin-on-submit
    Create a new snapshot
  manually.

.clearfix
  = render @url.snapshots
