- provide :title, @url.title

= render 'shared/breadcrumbs',
  crumbs: [[@url.project.name, @url.project],
           [@url.title]]

.page-header
  %h1
    %span.glyphicon.glyphicon-bookmark
    = yield :title
    %small
      = link_to @url, method: :delete, title: t('.delete'),
                      data: { confirm: t('.delete_confirm', title: @url.title) } do
        %span.glyphicon.glyphicon-remove<>
  %p
    = link_to snapshots_path(url: @url.id),
              method: :post,
              title:  'Create new snapshots for this URL',
              class:  'btn btn-primary' do
      %span.glyphicon.glyphicon-camera
      = t('.create_snapshots')
    &emsp;
    = link_to @url.simplified_address, @url.address

- @url.snapshots.includes(:viewport).group_by(&:viewport).each do |viewport, snapshots|
  .panel.panel-default{ id: "viewport-#{viewport.id}" }
    .panel-heading
      %h3.panel-title= viewport
    .panel-body.snapshots
      = render snapshots
