%h1 Snapshots
%table.table
  %tr
    %td
      %strong Website URL:
    %td= link_to @url.address, @url.address, target: '_blank'
  - if @url.snapshots.count > 0
    %tr
      %td
        %strong Number of snapshots:
      %td= @url.snapshots.count
    %tr
      %td
        %strong Latest snapshot:
      %td= time_ago_in_words(@url.snapshots.last.created_at) + ' ago'

= form_for Snapshot.new, class: 'form' do |f|
  = hidden_field_tag :url, @url.id
  = f.submit 'New snapshot', class: 'btn btn-primary'

.clearfix
  = render @url.snapshots
