:ruby
  attributes = {
    tabindex: -1,
    role: 'dialog',
    'aria-labelledby' =>  t('.aria_labelledby'),
    'aria-hidden' => true
  }

  shortcuts = %w[? k j gg G o u a r J K x]

.modal.keyboard-shortcut-help{ attributes }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal', 'aria-hidden' => true } } ×
        %h1.modal-title= t('.title')
      .modal-body
        %table.table
          %thead
            %tr
              %th= t('.key')
              %th= t('.action')
          %tbody
            - shortcuts.each do |shortcut|
              %tr{ data: { keyboard_focusable: true } }
                %td
                  %kbd= shortcut
                %td= t(".#{shortcut}").html_safe
