= form_for @project, html: { role: 'form' } do |f|
  = render 'shared/error_explanation', instance: @project

  .form-group
    = f.label :name, 'Name', class: 'control-label'
    = f.text_field :name, class: 'form-control', autofocus: true
  .form-group
    = f.label :viewport_widths, 'Viewport widths', class: 'control-label'
    %small One per line
    = f.text_area :viewport_widths, rows: 4, class: 'form-control'
  .form-group
    = f.label :url_addresses, 'Web page addresses (URLs)', class: 'control-label'
    %small One per line
    = f.text_area :url_addresses, rows: 10, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
