- provide :title, 'Edit Project'

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= @project.name

%h1 Edit Project

= render 'projects/form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path
