- provide :title, t('.title')

= render 'shared/breadcrumbs', crumbs: [["Edit #{@project.name}"]]

%h1= yield :title

= render 'projects/form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path
