- provide :title, 'Edit Project'

= render 'shared/breadcrumbs', crumbs: [["Edit #{@project.name}"]]

%h1 Edit Project

= render 'projects/form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path
