- provide :title, Project.model_name.human(count: 2)

- if @projects.any?
  .page-header
    %h1
      = yield :title
      = link_to new_project_path, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        = t('.new_project')

  %table.table.table-striped
    %thead
      %tr
        %th= Project.human_attribute_name(:name)
        %th= Viewport.model_name.human(count: 2)
        %th= Url.model_name.human(count: 2)
        %th= t('.last_sweep')

    %tbody
      - @projects.each do |project|
        %tr{ data: { keyboard_focusable: true } }
          %td= link_to project.name, project, class: 'url-multiline'
          %td= project.viewports.map(&:to_s).join(', ')
          %td.numeric= project.urls.size
          %td
            - if sweep = project.last_sweep
              = link_to sweep_progress_bar(sweep), [project, sweep]
- else
  -# There are no projects
  .jumbotron
    = t('.intro_html',
        link: link_to(t('.intro_link'), 'https://github.com/diffux/diffux/issues'))
    %p
      = link_to new_project_path, class: 'btn btn-primary btn-lg' do
        %span.glyphicon.glyphicon-plus
        = t('.new_project')
