- provide :title, 'Projects'

- if @projects.any?
  .page-header
    %h1
      = yield :title
      = link_to new_project_path, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        Add new Project
  .row
    .col-md-6
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Viewports
            %th
              = succeed 's' do
                %abbr.initialism{ title: 'Uniform Resource Locators' } URL

        %tbody
          - @projects.each do |project|
            %tr{ data: { keyboard_focusable: true } }
              %td= link_to project.name, project, class: 'url-multiline'
              %td= project.viewports.map(&:to_s).join(', ')
              %td.numeric= project.urls.size

    - if @sweep
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h2.panel-title Last sweep
          .panel-body
            .row
              .col-md-8
                %p
                  = link_to @sweep.title, [@sweep.project, @sweep]
                  %br
                  %small.text-muted
                    = link_to @sweep.project.name, @sweep.project, class: 'text-muted'
                    &middot;
                    = time_tag @sweep.created_at do
                      = time_ago_in_words(@sweep.created_at)  + ' ago'
              .col-md-4
                = sweep_progress_bar(@sweep)
- else
  -# There are no projects
  .jumbotron
    %h1 Hello, nice to meet you.

    %p
      Thanks for using Diffux! If you happen to bump into a problem or think of
      a feature you'd like to see,
      = succeed '.' do
        = link_to "we'd love to hear about it",
                  'https://github.com/trotzig/diffux/issues'
      And, if you are the coding type, we'd be delighted to accept your pull
      requests.

    %p
      There are plenty of keyboard shortcuts to help you use Diffux
      efficiently. Just press <kbd>?</kbd> to see all of the keyboard
      shortcuts.

    %p
      But first, you'll want to create a new project and give it some viewport
      widths and URLs to snapshot.

    %p
      = link_to new_project_path, class: 'btn btn-primary btn-lg' do
        %span.glyphicon.glyphicon-plus
        Add new Project
