- provide :title, Project.model_name.human(count: 2)

- if @projects.any?
  .page-header
    %h1
      = yield :title
      = link_to new_project_path, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-plus
        Add new Project

  %table.table.table-striped
    %thead
      %tr
        %th= Project.human_attribute_name(:name)
        %th= Viewport.model_name.human(count: 2)
        %th= Url.model_name.human(count: 2)
        %th= t('.last_sweep')

    %tbody
      - @projects.each do |project|
        %tr{ data: { keyboard_focusable: true } }
          %td= link_to project.name, project, class: 'url-multiline'
          %td= project.viewports.map(&:to_s).join(', ')
          %td.numeric= project.urls.size
          %td
            - if sweep = project.last_sweep
              = link_to sweep_progress_bar(sweep), [project, sweep]
- else
  -# There are no projects
  .jumbotron
    %h1 Hello, nice to meet you.

    %p
      Thanks for using Diffux! If you happen to bump into a problem or think of
      a feature you'd like to see,
      = succeed '.' do
        = link_to "we'd love to hear about it",
                  'https://github.com/diffux/diffux/issues'
      And, if you are the coding type, we'd be delighted to accept your pull
      requests.

    %p
      There are plenty of keyboard shortcuts to help you use Diffux
      efficiently. Just press <kbd>?</kbd> to see all of the keyboard
      shortcuts.

    %p
      But first, you'll want to create a new project and give it some viewport
      widths and URLs to snapshot.

    %p
      = link_to new_project_path, class: 'btn btn-primary btn-lg' do
        %span.glyphicon.glyphicon-plus
        Add new Project
