- provide :title, @project.name

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= @project.name

%h1
  %span.glyphicon.glyphicon-book
  = yield :title
  - @project.viewports.each do |viewport|
    %small.project-viewport= viewport
  %small= link_to 'Edit', edit_project_path(@project)

- @project.urls.each do |url|
  %h2
    %span.url-oneline{ title: url.address }= simplified_url url.address
    %small
      = link_to url.address, target: '_blank' do
        %span.glyphicon.glyphicon-share
      = link_to url, method: :delete, data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove

  = form_for Snapshot.new, class: 'form' do |f|
    = hidden_field_tag :url, url.id
    %button.btn.btn-info
      Create new snapshots

  - url.snapshots.includes(:viewport).group_by(&:viewport).each do |viewport, snapshots|
    %h3= viewport
    = render snapshots
