- provide :title, @project.name

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= @project.name

.page-header
  %h1
    %span.glyphicon.glyphicon-book
    = yield :title
    %small
      = link_to edit_project_path(@project), title: 'Edit' do
        %span.glyphicon.glyphicon-edit<>
      = link_to @project, method: :delete, title: 'Delete',
                          data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove<>

%table.table.table-vertical
  %tr
    %th
      Viewports
    %td
      %ul.list-inline.project-viewports
        - @project.viewports.each do |viewport|
          %li
            = viewport
            = link_to edit_viewport_path(viewport), title: 'Edit viewport' do
              %span.glyphicon.glyphicon-edit<>
  %tr
    %th
      Sweeps
    %td
      = link_to @project.sweeps.count, project_sweeps_path(@project)
  - if last_sweep = @project.sweeps.first
    %tr
      %th Last sweep
      %td= link_to last_sweep.title, [@project, last_sweep], title: last_sweep.description

= start_new_sweep_button(@project)


- @project.urls.each do |url|
  .url-summary-box.row
    .url-summary-box-info.col-md-4
      %h2.url-multiline= url.title
      %ul
        %li= link_to url.simplified_address, url.address, class: 'url-multiline'
        %li= link_to pluralize(url.snapshots.count, 'snapshot'), url
      = link_to snapshots_path(url: url.id), method: :post,
                title: 'Create new snapshots',
                class: 'btn btn-default' do
        %span.glyphicon.glyphicon-camera
        Create new snapshots

    .col-md-8
      .url-summary-box-snapshots.row
        - url.last_snapshots_by_viewport.each do |viewport, snapshots|
          .col-md-6
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  = link_to viewport,
                    url_path(url, anchor: "viewport-#{viewport.id}")
              .panel-body.snapshots
                = render snapshots
