- provide :title, @project.name

= render 'shared/breadcrumbs', crumbs: [[@project.name]]

.page-header
  %h1
    %span.glyphicon.glyphicon-book
    = yield :title
    %small
      = link_to edit_project_path(@project), title: 'Edit' do
        %span.glyphicon.glyphicon-edit<>
      = link_to @project, method: :delete, title: 'Delete',
                          data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove<>

%table.table.table-vertical
  %tr
    %th
      Viewports
    %td
      %ul.list-inline.project-viewports
        - @project.viewports.each do |viewport|
          %li
            = viewport
            = link_to edit_viewport_path(viewport), title: 'Edit viewport' do
              %span.glyphicon.glyphicon-edit<>
  %tr{ data: { keyboard_focusable: true } }
    %th
      Sweeps
    %td
      = link_to @project.sweeps.count, project_sweeps_path(@project)
  - if last_sweep = @project.sweeps.first
    %tr{ data: { keyboard_focusable: true } }
      %th Last sweep
      %td
        = link_to last_sweep.title, [@project, last_sweep], title: last_sweep.description
        = sweep_progress_bar(last_sweep)

= start_new_sweep_button(@project)

%table.table
  %thead
    %tr
      %th URL
      %th Snapshot count
      %th
  %tbody
    - @project.urls.each do |url|
      %tr{ data: { keyboard_focusable: true } }
        %td
          = link_to url.title, url, class: 'url-multiline'
          %br
          = link_to url.address, class: 'text-muted' do
            %small= url.simplified_address
        %td= url.snapshots.size
        %td
          = link_to snapshots_path(url: url.id), method: :post,
                    title: 'Create new snapshots for this URL' do
            %span.glyphicon.glyphicon-camera
