- provide :title, @project.name

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= @project.name

.page-header
  %h1
    %span.glyphicon.glyphicon-book
    = yield :title
    - @project.viewports.each do |viewport|
      %small.project-viewport= viewport
    %small
      = link_to edit_project_path(@project), title: 'Edit' do
        %span.glyphicon.glyphicon-edit<>
      = link_to @project, method: :delete, title: 'Delete',
                          data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove<>

%table.table.table-vertical
  %tr
    %th
      Sweeps
    %td
      = link_to @project.sweeps.count, project_sweeps_path(@project)
  - if last_sweep = @project.sweeps.first
    %tr
      %th Last sweep
      %td= link_to last_sweep.title, [@project, last_sweep], title: last_sweep.description

= start_new_sweep_button(@project)


- @project.urls.each do |url|
  %h2
    %span.url-multiline= simplified_url url.address
    %small
      = link_to snapshots_path(url: url.id), method: :post,
                title: 'Create new snapshots' do
        %span.glyphicon.glyphicon-camera>
      = link_to url.address, target: '_blank' do
        %span.glyphicon.glyphicon-share>
      = link_to url, method: :delete, data: { confirm: 'Are you sure?' } do
        %span.glyphicon.glyphicon-remove>

  - url.snapshots.includes(:viewport).group_by(&:viewport).each do |viewport, snapshots|
    .panel.panel-default
      .panel-heading
        %h3.panel-title= viewport
      .panel-body.snapshots
        = render snapshots
