- provide :title, @project.name

= render 'shared/breadcrumbs', crumbs: [[@project.name]]

.page-header
  %h1
    %span.glyphicon.glyphicon-book
    = yield :title
    %small
      = link_to edit_project_path(@project), title: t('.edit') do
        %span.glyphicon.glyphicon-edit<>
      = link_to @project, method: :delete, title: t('.delete'),
                          data: { confirm: t('.delete_confirm',
                                  name: @project.name) } do
        %span.glyphicon.glyphicon-remove<>

%table.table.table-vertical
  %tr
    %th= Viewport.model_name.human(count: 2)
    %td
      %ul.list-inline.project-viewports
        - @project.viewports.each do |viewport|
          %li
            = viewport
            = link_to edit_viewport_path(viewport),
                      title: t('.edit_viewport') do
              %span.glyphicon.glyphicon-edit<>
  %tr{ data: { keyboard_focusable: true } }
    %th= Sweep.model_name.human(count: 2)
    %td
      = link_to @project.sweeps.count, project_sweeps_path(@project)
  - if last_sweep = @project.last_sweep
    %tr{ data: { keyboard_focusable: true } }
      %th= t('.last_sweep')
      %td
        = link_to last_sweep.title, [@project, last_sweep], title: last_sweep.description
        = sweep_progress_bar(last_sweep)

%p= start_new_sweep_button(@project)

%table.table
  %thead
    %tr
      %th= Url.model_name.human
      %th= Snapshot.model_name.human(count: 2)
      %th
  %tbody
    - @project.urls.each do |url|
      %tr{ data: { keyboard_focusable: true } }
        %td
          = link_to url.title, url, class: 'url-multiline'
          %br
          = link_to url.address, class: 'text-muted' do
            %small= url.simplified_address
        %td.numeric= url.snapshots.size
        %td
          = link_to snapshots_path(url: url.id), method: :post,
                    title: t('.new_snapshots') do
            %span.glyphicon.glyphicon-camera
