.snapshot-header-and-buttons
  .page-header
    %h1
      %span.glyphicon.glyphicon-camera
      = Snapshot.model_name.human
      %small
        = time_tag @snapshot.created_at do
          = t(:time_ago, time: time_ago_in_words(@snapshot.created_at))

        = form_tag @snapshot, method: :delete,
                   data: { confirm: t('.delete_confirm') } do
          %button.btn.btn-link{ title: t('.delete') }
            %span.glyphicon.glyphicon-remove

        = form_tag take_snapshot_snapshot_path(@snapshot), method: :post do
          %button.btn.btn-link{ title: t('.retake') }
            %span.glyphicon.glyphicon-repeat

        = form_tag compare_snapshot_snapshot_path(@snapshot), method: :post do
          %button.btn.btn-link{ title: t('.recompare') }
            %span.glyphicon.glyphicon-refresh

    .snapshot-buttons
      - if @snapshot.under_review? || @snapshot.accepted? || @snapshot.rejected?
        = form_tag accept_snapshot_path(@snapshot),
                   data: { replace: '.snapshot-header-and-buttons' },
                   method: :post do
          :ruby
            button_attrs = {
              disabled: @snapshot.accepted?,
              class:    ('btn-success' if @snapshot.accepted?),
              data:     { keyboard_shortcut: 'a' }
            }
          %button.btn.btn-default.snapshot-accept-button{ button_attrs }
            %i.glyphicon.glyphicon-ok
            %span.snapshot-button-enabled= t('.accept')
            %span.snapshot-button-disabled= t('.accepted')

        = form_tag reject_snapshot_path(@snapshot),
                   data: { replace: '.snapshot-header-and-buttons' },
                   method: :post do
          :ruby
            button_attrs = {
              disabled: @snapshot.rejected?,
              class:    ('btn-danger' if @snapshot.rejected?),
              data:     { keyboard_shortcut: 'r' }
            }
          %button.btn.btn-default.snapshot-reject-button{ button_attrs }
            %i.glyphicon.glyphicon-remove
            %span.snapshot-button-enabled= t('.reject')
            %span.snapshot-button-disabled= t('.rejected')

      - if @snapshot.pending?
        %span.label.label-default= t('.pending')
      - elsif @snapshot.under_review? || @snapshot.accepted? || @snapshot.rejected?
        -# We delegate to the buttons for these statuses
      - else
        %span.label.label-warning= t('.unknown_state')

      &emsp;
      = @snapshot.title
      &emsp;
      %small
        = link_to @snapshot.url.simplified_address, @snapshot.url.address,
          class: 'url-multiline'
