.snapshot-header-and-buttons
  .page-header
    %h1
      %span.glyphicon.glyphicon-camera
      Snapshot
      %small
        = time_tag @snapshot.created_at do
          = time_ago_in_words(@snapshot.created_at) + ' ago'
        = link_to @snapshot, method: :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove>
    %p
      - if @snapshot.pending?
        %span.label.label-default Pending
      - elsif @snapshot.accepted?
        %span.label.label-success Accepted
      - elsif @snapshot.rejected?
        %span.label.label-danger Rejected
      - elsif @snapshot.under_review?
        %span.label.label-info Under Review
      - else
        %span.label.label-warnind Unknown State
      &emsp;
      = @snapshot.title
      &emsp;
      %small
        = link_to @snapshot.url.simplified_address, @snapshot.url.address,
          class: 'url-multiline'

  .snapshot-buttons
    - if @snapshot.under_review? || @snapshot.accepted? || @snapshot.rejected?
      = form_tag accept_snapshot_path(@snapshot),
                 data: { replace: '.snapshot-header-and-buttons' },
                 method: :post do
        %button.btn.btn-default{ disabled: @snapshot.accepted?,
                                 class:    ('btn-success' if @snapshot.accepted?),
                                 data:     { keyboard_shortcut: 'a' } }
          %i.glyphicon.glyphicon-ok-sign
          %span.snapshot-button-enabled  Accept
          %span.snapshot-button-disabled Accepted

      = form_tag reject_snapshot_path(@snapshot),
                 data: { replace: '.snapshot-header-and-buttons' },
                 method: :post do
        %button.btn.btn-default{ disabled: @snapshot.rejected?,
                                 class:    ('btn-danger' if @snapshot.rejected?),
                                 data:     { keyboard_shortcut: 'r' } }
          %i.glyphicon.glyphicon-remove-sign
          %span.snapshot-button-enabled  Reject
          %span.snapshot-button-disabled Rejected

    = form_tag take_snapshot_snapshot_path(@snapshot), method: :post do
      %button.btn.btn-default
        %i.glyphicon.glyphicon-camera
        Re-take snapshot

    = form_tag compare_snapshot_snapshot_path(@snapshot), method: :post do
      %button.btn.btn-default
        %i.glyphicon.glyphicon-camera
        Re-compare snapshot
