.snapshot-card.thumbnail{ class: ('snapshot-card-active' if local_assigns[:active]) }
  = link_to snapshot_path(snapshot,
    review_list: local_assigns[:review_list]) do
    - if snapshot.image?
      = image_tag snapshot.image.url(:thumb)
    - else
      .glyphicon.glyphicon-time.snapshot-card-pending

  .snapshot-indicator.snapshot-color-icon.glyphicon{ class: glyphicon_for(snapshot) }

  .caption
    .time-ago
      = time_tag snapshot.created_at do
        = time_ago_in_words(snapshot.created_at) + ' ago'
    - if snapshot.diff_from_previous
      .diff
        = number_to_percentage(snapshot.diff_from_previous)
        diff
