:ruby
  classes = %w[snapshot-card thumbnail]
  classes << 'keyboard-focused' if local_assigns[:active]
  classes << 'snapshot-card-pending' if snapshot.pending?
  data = {
    keyboard_focusable: true,
    auto_refresh_type: 'snapshot',
    auto_refresh_id:   snapshot.id,
  }

= link_to snapshot_path(snapshot), class: classes,
                                   title: snapshot.title,
                                   data: data do
  - if snapshot.image?
    = image_tag snapshot.image.url(:thumb)
  - else
    .glyphicon.glyphicon-time

  .snapshot-indicator.snapshot-color-icon.glyphicon{ class: glyphicon_for(snapshot) }

  .caption
    = time_tag snapshot.created_at, class: 'text-muted' do
      = t(:time_ago, time: time_ago_in_words(snapshot.created_at))
    - if diff = snapshot.snapshot_diff
      %meter{ max: 100, optimum: 0, low: 5, high: 20, value: diff.diff_in_percent }<
        %span.text-warning<
          = t('.diff',
              diff: number_to_percentage(diff.diff_in_percent, precision: 2))
