%h1
  Snapshots
  = "for #{@url.address}" if @url

%table.table
  %thead
    %tr
      %th URL
      %th When?
      %th
      %th
      %th
  %tbody
    - @snapshots.each do |snapshot|
      %tr
        %td= link_to snapshot.url.address, snapshot.url
        %td= time_ago_in_words(snapshot.created_at)
        %td= link_to 'Show', snapshot
        %td= link_to 'Edit', edit_snapshot_path(snapshot)
        %td= link_to 'Destroy', snapshot, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Snapshot', new_snapshot_path
