%h1
  Snapshots
  = "for #{@url.address}" if @url

%table.table
  %thead
    %tr
      %th URL
      %th When?
      %th Thumb
      %th
      %th
  %tbody
    - @snapshots.each do |snapshot|
      %tr
        %td= link_to snapshot.url.address, snapshot.url
        %td
          = time_tag snapshot.created_at do
            = time_ago_in_words(snapshot.created_at)
        %td= link_to cl_image_tag(snapshot.image_name, width: 100), snapshot.image_url
        %td= link_to 'Show', snapshot
        %td= link_to 'Destroy', snapshot, method: :delete, data: { confirm: 'Are you sure?' }
