- provide :title, "Snapshot | #{@snapshot.url_id}"

:ruby
  crumbs = [[@snapshot.url.project.name, project_path(@snapshot.url.project)]]
  if @snapshot.sweep
    crumbs << ['Sweeps', project_sweeps_path(@snapshot.url.project)]
    crumbs << [@snapshot.sweep.title, [@snapshot.url.project, @snapshot.sweep]]
    crumbs << [simplified_url(@snapshot.url.address)]
  else
    crumbs << [simplified_url(@snapshot.url.title), url_path(@snapshot.url)]
  end
  crumbs << [@snapshot.viewport]

= render 'shared/breadcrumbs', crumbs: crumbs

= render 'snapshots/review_list' if @review_list

.snapshot
  = render 'snapshots/header_and_buttons'

  - if @snapshot.diff?
    .snapshot-diff-image
      %h2
        Diff
        %small= number_to_percentage(@snapshot.snapshot_diff.diff_in_percent)
      - if @snapshot.snapshot_diff.diff_in_percent > 0
        = render 'snapshots/show_diff'


  - if @snapshot.snapshot_diff
    %p.text-muted.small
      This snapshot was compared against
      = succeed('.') do
        = link_to 'this baseline snapshot', @snapshot.snapshot_diff.before_snapshot

      You can access
      = link_to 'the before-image PNG', @snapshot.snapshot_diff.before_snapshot.image.url,
        target: '_blank'
      and
      = link_to 'the after-image PNG', @snapshot.image.url, target: '_blank'
      separately if you wish.
