- provide :title, "Snapshot | #{@snapshot.url_id}"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @snapshot.url.project.name, project_path(@snapshot.url.project)
  %li
    = simplified_url @snapshot.url.address
    @
    = @snapshot.viewport
  %li
    Snapshot from
    = time_tag @snapshot.created_at do
      = time_ago_in_words(@snapshot.created_at) + ' ago'

.snapshot
  %h1
    %span.glyphicon.glyphicon-camera
    Snapshot

  %table.table
    %tr
      %th
        %abbr.initialism{ title: 'Uniform Resource Locator' } URL
      %td
        = link_to simplified_url(@snapshot.url.address), @snapshot.url.address,
          class: 'url-multiline'
    %tr
      %th Viewport
      %td= @snapshot.viewport
    %tr
      %th When
      %td
        = time_tag @snapshot.created_at do
          = time_ago_in_words(@snapshot.created_at) + ' ago'
    %tr
      %th Status
      %td= snapshot_status(@snapshot)

  - if @snapshot.under_review? || @snapshot.rejected?
    = button_to 'Accept',
      accept_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  - if @snapshot.under_review? || @snapshot.accepted?
    = button_to 'Reject',
      reject_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  = button_to 'Delete',
    @snapshot, method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'

  .clearfix
    - if @snapshot.diff?
      .pull-left.snapshot-image
        %figure
          %figcaption= link_to 'Compared against', @snapshot.diffed_with_snapshot
          = link_to image_tag(@snapshot.diffed_with_snapshot.image.url),
            @snapshot.diffed_with_snapshot

      .pull-left.snapshot-diff-image.snapshot-image
        %figure
          %figcaption
            Diff
            = "(#{number_to_percentage(@snapshot.diff_from_previous)})"
          - if @snapshot.diff_from_previous > 0
            = image_tag @snapshot.diff_image.url

    - if @snapshot.image?
      .pull-left.snapshot-image
        %figure
          %figcaption Snapshot image
          = image_tag(@snapshot.image.url)
