%ul.breadcrumb
  %li= link_to 'URLs', root_path
  %li= link_to @snapshot.url.name, @snapshot.url
  %li= "Snapshot from #{time_ago_in_words(@snapshot.created_at)} ago"
.snapshot
  %h3 Snapshot
  %table.table
    %tr
      %td
        %strong Website URL:
      %td= link_to @snapshot.url.address, @snapshot.url
    %tr
      %td
        %strong When?
      %td= time_ago_in_words(@snapshot.created_at) + ' ago'

  = button_to 'Delete', @snapshot, method: :delete, data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'

  .clearfix
    .pull-left
      %figure
        %figcaption Snapshot image
        = cl_image_tag @snapshot.image_name, width: 300

    - if @snapshot.previous_snapshot
      .pull-left
        %figure
          %figcaption
            Diff
            = "(#{number_to_percentage(@snapshot.diff_from_previous)})"
          = cl_image_tag @snapshot.diff_image_name, width: 300

      .pull-left
        %figure
          %figcaption= link_to 'Previous snapshot', @snapshot.previous_snapshot
          = link_to cl_image_tag(@snapshot.previous_snapshot.image_name, width: 300),
            @snapshot.previous_snapshot
