- provide :title, "Snapshot | #{@snapshot.url_id}"

:ruby
  crumbs = [[@snapshot.url.project.name, project_path(@snapshot.url.project)]]
  if @snapshot.sweep
    crumbs << ['Sweeps', project_sweeps_path(@snapshot.url.project)]
    crumbs << [@snapshot.sweep.title, [@snapshot.url.project, @snapshot.sweep]]
    crumbs << [simplified_url(@snapshot.url.address)]
  else
    crumbs << [simplified_url(@snapshot.url.title), url_path(@snapshot.url)]
  end
  crumbs << [@snapshot.viewport]

= render 'shared/breadcrumbs', crumbs: crumbs

= render 'snapshots/review_list' if @review_list

.snapshot
  = render 'snapshots/header_and_buttons'

  - if @snapshot.diff?
    .snapshot-diff-image.snapshot-image
      %h2
        Diff
        %small= number_to_percentage(@snapshot.snapshot_diff.diff_in_percent)
      - if @snapshot.snapshot_diff.diff_in_percent > 0
        .snapshot-diff-with-clusters
          = image_tag @snapshot.snapshot_diff.image.url
          - image_height = @snapshot.snapshot_diff.image_height
          - @snapshot.snapshot_diff.snapshot_diff_clusters.each do |cluster|
            .snapshot-diff-cluster{ style: "top: #{cluster.relative_start(image_height)}%; height: #{cluster.relative_height(image_height)}%",
                                    data: { keyboard_focusable: true } }


  .clearfix
    - if @snapshot.diff? && @snapshot.snapshot_diff.diff_in_percent > 0
      .pull-left.snapshot-image
        %h2= link_to 'Compared against', @snapshot.snapshot_diff.before_snapshot
        = link_to image_tag(@snapshot.snapshot_diff.before_snapshot.image.url),
          @snapshot.snapshot_diff.before_snapshot

    - if @snapshot.image?
      .pull-left.snapshot-image
        %h2 Snapshot image
        = image_tag(@snapshot.image.url)
