- provide :title, "Snapshot | #{@snapshot.url.name}"

%ul.breadcrumb
  %li
    = link_to 'URLs', root_path
    %span.divider /
  %li
    = link_to @snapshot.url.name, @snapshot.url
    %span.divider /
  %li
    Snapshot from
    = time_tag @snapshot.created_at do
      = time_ago_in_words(@snapshot.created_at) + ' ago'
.snapshot
  %h3 Snapshot
  %table.table
    %tr
      %td
        %strong Website URL:
      %td= link_to @snapshot.url.address
    %tr
      %td
        %strong When?
      %td
        = time_tag @snapshot.created_at do
          = time_ago_in_words(@snapshot.created_at) + ' ago'
    %tr
      %td
        %strong Status?
      %td
        - if @snapshot.accepted?
          Accepted
          = time_tag @snapshot.accepted_at do
            = time_ago_in_words(@snapshot.accepted_at) + ' ago'
        - elsif @snapshot.rejected?
          Rejected
          = time_tag @snapshot.rejected_at do
            = time_ago_in_words(@snapshot.rejected_at) + ' ago'
        - else
          Under review


  - unless @snapshot.accepted?
    = button_to 'Accept',
      accept_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  - unless @snapshot.rejected?
    = button_to 'Reject',
      reject_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  = button_to 'Delete',
    @snapshot, method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'

  .clearfix
    - if @snapshot.diff?
      .pull-left
        %figure
          %figcaption= link_to 'Compared against', @snapshot.diffed_with_snapshot
          = link_to cl_image_tag(@snapshot.diffed_with_snapshot.image_name, width: 300),
            @snapshot.diffed_with_snapshot

      .pull-left
        %figure
          %figcaption
            Diff
            = "(#{number_to_percentage(@snapshot.diff_from_previous)})"
          = cl_image_tag @snapshot.diff_image_name, width: 300

    .pull-left
      %figure
        %figcaption Snapshot image
        = cl_image_tag @snapshot.image_name, width: 300
