%ul.breadcrumb
  %li
    = link_to 'URLs', root_path
    %span.divider /
  %li
    = link_to @snapshot.url.name, @snapshot.url
    %span.divider /
  %li= "Snapshot from #{time_ago_in_words(@snapshot.created_at)} ago"
.snapshot
  %h3 Snapshot
  %table.table
    %tr
      %td
        %strong Website URL:
      %td= link_to @snapshot.url.address
    %tr
      %td
        %strong When?
      %td= time_ago_in_words(@snapshot.created_at) + ' ago'
    %tr
      %td
        %strong Baseline?
      %td
        - if @snapshot.baseline_for_url?
          Yep.
        - else
          Nope.

  - unless @snapshot.baseline_for_url?
    = button_to 'Set as baseline for this URL',
      set_as_baseline_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  = button_to 'Delete',
    @snapshot, method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'

  .clearfix
    .pull-left
      %figure
        %figcaption Snapshot image
        = cl_image_tag @snapshot.image_name, width: 300

    - if @snapshot.has_diff?
      .pull-left
        %figure
          %figcaption
            Diff
            = "(#{number_to_percentage(@snapshot.diff_from_previous)})"
          = cl_image_tag @snapshot.diff_image_name, width: 300

      .pull-left
        %figure
          %figcaption= link_to 'Compared against', @snapshot.diffed_with_snapshot
          = link_to cl_image_tag(@snapshot.diffed_with_snapshot.image_name, width: 300),
            @snapshot.diffed_with_snapshot
