- provide :title, "Snapshot | #{@snapshot.url_id}"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @snapshot.url.project.name, project_path(@snapshot.url.project)
  %li
    = @snapshot.url.address
    @
    = @snapshot.viewport
  %li
    Snapshot from
    = time_tag @snapshot.created_at do
      = time_ago_in_words(@snapshot.created_at) + ' ago'

.snapshot
  %h1
    %span.glyphicon.glyphicon-camera
    Snapshot

  %table.table
    %tr
      %th Website URL:
      %td
        = link_to @snapshot.url.address, @snapshot.url.address,
          class: 'url-multiline'
    %tr
      %th Viewport:
      %td= @snapshot.viewport
    %tr
      %th When:
      %td
        = time_tag @snapshot.created_at do
          = time_ago_in_words(@snapshot.created_at) + ' ago'
    %tr
      %th Status:
      %td= snapshot_status(@snapshot)


  - unless @snapshot.accepted?
    = button_to 'Accept',
      accept_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  - unless @snapshot.rejected?
    = button_to 'Reject',
      reject_snapshot_path(@snapshot),
      method: :post, class: 'btn'

  = button_to 'Delete',
    @snapshot, method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'

  .clearfix
    - if @snapshot.diff?
      .pull-left
        %figure
          %figcaption= link_to 'Compared against', @snapshot.diffed_with_snapshot
          = link_to cl_image_tag(@snapshot.diffed_with_snapshot.image_name, width: 300),
            @snapshot.diffed_with_snapshot

      .pull-left.snapshot-diff-image
        %figure
          %figcaption
            Diff
            = "(#{number_to_percentage(@snapshot.diff_from_previous)})"
          - if @snapshot.diff_from_previous > 0
            = cl_image_tag @snapshot.diff_image_name, width: 300

    - if @snapshot.external_image_id?
      .pull-left
        %figure
          %figcaption Snapshot image
          = cl_image_tag @snapshot.image_name, width: 300
