- provide :title, "Snapshot | #{@snapshot.url_id}"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @snapshot.url.project.name, project_path(@snapshot.url.project)
  %li
    = simplified_url @snapshot.url.address
    @
    = @snapshot.viewport
  %li
    Snapshot from
    = time_tag @snapshot.created_at do
      = time_ago_in_words(@snapshot.created_at) + ' ago'

.snapshot
  .page-header
    %h1
      %span.glyphicon.glyphicon-camera
      Snapshot

  = render 'snapshots/status_block'

  - if @snapshot.diff?
    .snapshot-diff-image.snapshot-image
      %h2
        Diff
        %small= number_to_percentage(@snapshot.diff_from_previous)
      - if @snapshot.diff_from_previous > 0
        = image_tag @snapshot.diff_image.url

  .clearfix
    - if @snapshot.diff? && @snapshot.diff_from_previous > 0
      .pull-left.snapshot-image
        %h2= link_to 'Compared against', @snapshot.diffed_with_snapshot
        = link_to image_tag(@snapshot.diffed_with_snapshot.image.url),
          @snapshot.diffed_with_snapshot

    - if @snapshot.image?
      .pull-left.snapshot-image
        %h2 Snapshot image
        = image_tag(@snapshot.image.url)
