- provide :title, "Snapshot | #{@snapshot.url_id}"

%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @snapshot.url.project.name, project_path(@snapshot.url.project)
  - if @snapshot.sweep
    %li= link_to 'Sweeps', project_sweeps_path(@snapshot.url.project)
    %li= link_to @snapshot.sweep.title, [@snapshot.url.project, @snapshot.sweep]
  %li
    = simplified_url @snapshot.url.address
    @
    = @snapshot.viewport
  %li
    Snapshot from
    = time_tag @snapshot.created_at do
      = time_ago_in_words(@snapshot.created_at) + ' ago'


- if @review_list
  .panel.panel-primary.snapshot-review-panel{ data: { keyboard_focusable_context: true } }
    .panel-heading
      %h2.panel-title
        = link_to 'In review', [@snapshot.sweep.project, @snapshot.sweep],
          title: @snapshot.sweep.title
    .panel-body
      - @review_list.each_with_index do |snapshot, index|
        = render snapshot, review_list: @review_list.map(&:id),
          preceding_active: @review_list[index + 1] == @snapshot,
          active: snapshot == @snapshot,
          following_active: @review_list[index - 1] == @snapshot
.snapshot
  .page-header
    %h1
      %span.glyphicon.glyphicon-camera
      Snapshot
      %small
        = link_to @snapshot, method: :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove>

  = render 'snapshots/status_block'

  - if @snapshot.diff?
    .snapshot-diff-image.snapshot-image
      %h2
        Diff
        %small= number_to_percentage(@snapshot.diff_from_previous)
      - if @snapshot.diff_from_previous > 0
        = image_tag @snapshot.diff_image.url

  .clearfix
    - if @snapshot.diff? && @snapshot.diff_from_previous > 0
      .pull-left.snapshot-image
        %h2= link_to 'Compared against', @snapshot.diffed_with_snapshot
        = link_to image_tag(@snapshot.diffed_with_snapshot.image.url),
          @snapshot.diffed_with_snapshot

    - if @snapshot.image?
      .pull-left.snapshot-image
        %h2 Snapshot image
        = image_tag(@snapshot.image.url)
