- provide :title do
  = Snapshot.model_name.human
  |
  = @snapshot.url_id

:ruby
  crumbs = [[@snapshot.url.project.name, project_path(@snapshot.url.project)]]
  if @snapshot.sweep
    crumbs << [Sweep.model_name.human(count: 2),
               project_sweeps_path(@snapshot.url.project)]
    crumbs << [@snapshot.sweep.title, [@snapshot.url.project, @snapshot.sweep]]
    crumbs << [simplified_url(@snapshot.url.address)]
  else
    crumbs << [simplified_url(@snapshot.url.title), url_path(@snapshot.url)]
  end
  crumbs << [@snapshot.viewport]

= render 'shared/breadcrumbs', crumbs: crumbs

= render 'snapshots/review_list' if @review_list

.snapshot
  = render 'snapshots/header_and_buttons'

  - if @snapshot.diff?
    .snapshot-diff-image
      %h2
        = SnapshotDiff.model_name.human
        %small= number_to_percentage(@snapshot.snapshot_diff.diff_in_percent)
      - if @snapshot.snapshot_diff.diff_in_percent > 0
        = render 'snapshots/show_diff'
      - else
        = image_tag @snapshot.image.url

    %p.text-muted.small
      = t('.compared_against_html',
          baseline: link_to(t('.baseline'), @snapshot.before_snapshot))
      = t('.png_links_html',
          before_png: link_to(t('.before_png'), @snapshot.before_snapshot.image.url),
          after_png:  link_to(t('.after_png'), @snapshot.image.url))

  - elsif !@snapshot.pending?
    .snapshot-diff-image
      .alert.alert-warning
        = t('.no_baseline_html')
      = image_tag @snapshot.image.url

  - if @snapshot.log
    %p.text-muted.small
      = t('.debug')
      = succeed '.' do
        = link_to t('.debug_link'), view_log_snapshot_path(@snapshot)
