!!! 5
%head
  %title Diffux
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  .wrapper
    - if notice
      .alert.alert-success= notice
    = yield
